<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Perpus Onlie</title>
</head>
<body>
    <h1>Ini adalah halaman HOME</h1>
    <a href="/renter/login">Login</a>
    <p>jika belum punya akun, <a href="/renter/register">register</a> dulu</p>
</body>
</html>