<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  <%= title %> </title>
</head>
<body>
    <h1><%= title %> </h1>
    <p>ini halaman profil milik <%= data.firstName %> </p>
    <p><a href="/renter/profile/<%= data.id %>">edit profil</a></p>
</body>
</html>